.discount-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  color: rgba(255, 255, 255, 0.9); /* White with slight transparency */
  cursor: pointer;
  animation: fadeIn 1.5s ease-in-out;
  background: linear-gradient(90deg, rgba(0, 0, 255, 0.9), rgba(75, 0, 130, 0.9), rgba(238, 130, 238, 0.9));
  background-size: 400% 400%;
  animation: rainbowBackground 3s ease infinite;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); /* Subtle shadow */
}

.banner-text {
  font-size: 1rem;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 4); /* Subtle shadow */
}

.tadrisino {
  color: rgba(255, 0, 0, 1); /* Bright red */
  font-weight: 900;
  text-shadow: 0 0 8px rgba(255, 0, 0, 0.8), 0 0 15px rgba(255, 0, 0, 0.6);
  animation: lampEffect 1.5s ease-in-out infinite;
}

.timer {
  font-size: 0.9rem;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 100); /* Subtle shadow */
}

@keyframes rainbowBackground {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes lampEffect {
  0%, 100% { text-shadow: 0 0 8px rgba(255, 0, 0, 0.8), 0 0 15px rgba(255, 0, 0, 0.6); }
  50% { text-shadow: 0 0 15px rgba(255, 0, 0, 1), 0 0 30px rgba(255, 0, 0, 0.9); }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
